.graphic{
    
    display: absolute;
    justify-content: right;
    float: right;
    width: 70%;


}
.chartjs-render-monitor{
    height: 450px;
}

#myChart{
    /* visibility: hidden; */
    /* display: flex; */
    
    display: absolute !important;
    justify-content: right !important;
    float: right !important;
    height: 460px !important;
    /* width: 70% !important; */
    float: left !important;
    /* height: 450px; */
}


#colorBosch{
    background-size: cover;
    width: 100vw;
    position: center;

    display: flex;
}
#nameBosch{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* section{
    justify-content: space-around; 
    display: inline-flex;

} */

#employes{
    /* position: relative; */
    width: 20%;
    display: left;
    margin: 0%;
}
#navemployes{
    width: 20%;
    display: left;
}
#sectionMap{
    /* display: relative;
    justify-content: center ; */
    width: 70%;
    height: 200%;
}
#mapGraphic{
    /* position: relative; */
    display: flex;
    /* position: fixed; */
    /* margin-inline-start: 2.4%; */
}

  footer
  {
      margin-top:50px;
      width:100%;
      height:50px;
      background-color:black;
  }
  